<form role="form" class="form-horizontal" style="margin-top: 30px;" ng-controller="AddAcountController">
    <div class="form-group">
        <label class="col-sm-2 control-label">用户名：</label>

        <div class="col-sm-3">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">密码：</label>

        <div class="col-sm-3">
            <input type="text" onfocus="this.type = 'password'" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">确认密码：</label>

        <div class="col-sm-3">
            <input type="text" onfocus="this.type = 'password'" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">姓名：</label>

        <div class="col-sm-3">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">角色：</label>

        <div class="col-sm-3">
            <select class="form-control">
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <button class="btn btn-secondary btn-single">保存</button>
        </div>
    </div>
</form>