<form role="form" class="form-horizontal" style="margin-top: 30px;" ng-controller="AddAcountController">
    <div class="form-group" ng-repeat="vali in validateList track by $index">
        <label class="col-sm-2 control-label">{{vali.name}}：</label>
        <div class="col-sm-3">
            <{{vali.ele}} type="{{vali.eleType}}" class="form-control" ng-model="account.username" ng-focus="" ng-required="vali.validateItems.required">
        </div>
        <div class="col-sm-3 text-danger" ng-repeat="re in vali.promptList|filter:vali.promptAttr">{{re.tip}}</div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">角色：</label>
        <div class="col-sm-3">
            <select class="form-control" ng-model="account.role" ng-options="role.roleName for role in roleList"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <button class="btn btn-secondary btn-single" ng-click="save()">保存</button>
        </div>
    </div>
</form>