<div class="panel panel-default" ng-controller="AddProductPackageController">
    <div class="panel-body">
        <table class="table table-bordered">
            <thead style="background-color: #f5f5f5">
            <th style="border: none">添加套餐包</th>
            <th style="border: none"></th>
            </thead>
            <tbody>
            <tr>
                <td width="180" class="col-2c2e2f text-r">产品配置</td>
                <td class="text-l"></td>
            </tr>
            <tr>
                <td width="180" class="text-r">商城应用：</td>
                <td class="text-l">
                    <div class="col-sm-10">
                        <p>
                            <label class="radio-inline">
                                <input name="radio-1" type="radio">
                                PC-B2C v1.0
                            </label>
                            <label class="radio-inline">
                                <input name="radio-1" type="radio">
                                MB-B2C v1.0
                            </label>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="180" class="text-r">容器：</td>
                <td class="text-l">
                    <div class="col-sm-10">
                        <p>
                            <label class="radio-inline">
                                <input name="radio-2" type="radio">
                                1个
                            </label>
                            <label class="radio-inline">
                                <input name="radio-2" type="radio">
                                2个
                            </label>
                            <label class="radio-inline">
                                <input name="radio-2" type="radio">
                                4个
                            </label>
                            <label class="radio-inline">
                                <input name="radio-2" type="radio">
                                8个
                            </label>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="180" class="text-r">存储空间：</td>
                <td class="text-l">
                    <div class="col-sm-10">
                        <p>
                            <label class="radio-inline">
                                <input name="radio-3" type="radio">
                                20G
                            </label>
                            <label class="radio-inline">
                                <input name="radio-3" type="radio">
                                40G
                            </label>
                            <label class="radio-inline">
                                <input name="radio-3" type="radio">
                               50G
                            </label>
                            <label class="radio-inline">
                                <input name="radio-3" type="radio">
                                100G
                            </label>
                            <label class="radio-inline">
                                <input name="radio-3" type="radio">
                                500G
                            </label>
                            <label class="radio-inline">
                                <input name="radio-3" type="radio">
                                1T
                            </label>
                            <label class="radio-inline">
                                <input name="radio-3" type="radio">
                                不限
                            </label>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="180" class="text-r">带宽：</td>
                <td class="text-l">
                    <div class="col-sm-10">
                        <p>
                            <label class="radio-inline">
                                <input name="radio-4" type="radio">
                                共享
                            </label>
                            <label class="radio-inline">
                                <input name="radio-4" type="radio">
                                10M
                            </label>
                            <label class="radio-inline">
                                <input name="radio-4" type="radio">
                                10M、可扩展
                            </label>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="180" class="text-r">模板：</td>
                <td class="text-l">
                    <div class="col-sm-10">
                        <p>
                            <label class="checkbox-inline">
                                <input type="checkbox">
                                默认
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox">
                                朝霞
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox">
                                冷艳
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox">
                                绿润
                            </label>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="180" class="text-r">应用：</td>
                <td class="text-l">
                    <div class="col-sm-10">
                        <p>
                            <label class="checkbox-inline">
                                <input type="checkbox">
                                促销v1.0
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox">
                                BI分板
                            </label>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="180" class="text-r">短信：</td>
                <td class="text-l">
                    <div class="col-sm-10">
                        <p>
                            <label class="radio-inline">
                                <input name="radio-5" type="radio">
                                1千条
                            </label>
                            <label class="radio-inline">
                                <input name="radio-5" type="radio">
                                1万条
                            </label>
                            <label class="radio-inline">
                                <input name="radio-5" type="radio">
                                3万条
                            </label>
                            <label class="radio-inline">
                                <input name="radio-5" type="radio">
                                10万条
                            </label>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="180" class="text-r">邮件：</td>
                <td class="text-l">
                    <div class="col-sm-10">
                        <p>
                            <label class="radio-inline">
                                <input name="radio-6" type="radio">
                                1千封
                            </label>
                            <label class="radio-inline">
                                <input name="radio-6" type="radio">
                                1万封
                            </label>
                            <label class="radio-inline">
                                <input name="radio-6" type="radio">
                                3万封
                            </label>
                            <label class="radio-inline">
                                <input name="radio-6" type="radio">
                                10万封
                            </label>
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="180" class="col-2c2e2f text-r">销售信息</td>
                <td class="text-l"></td>
            </tr>
            <tr>
                <td width="180" class="text-r"><span class="col-f00">*</span>套餐名称：</td>
                <td class="text-l">
                    <div class="" style="display: inline-block">
                        <input type="text" class="form-control ng-pristine ng-valid" size="15" name="username" ng-model="roleItem.roleName" placeholder="基础版">
                    </div>
                </td>
            </tr>
            <tr>
                <td width="180" class="text-r"><span class="col-f00">*</span>价格：</td>
                <td class="text-l">
                    <div class="" style="display: inline-block">
                        <input type="text" class="form-control" size="15" name="username" ng-model="roleItem.roleName" placeholder=""/>
                    </div>
                    <div style="display: inline-block">
                        <select class="form-control" name="role" ng-model="pageDate" ng-options="item.txt for item in statusList"></select>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="180" class="text-r"><span class="col-f00">*</span>优先级：</td>
                <td class="text-l">
                    <div class="" style="display: inline-block">
                        <input type="text" class="form-control" size="15" name="username" ng-model="roleItem.roleName" placeholder=""/>
                    </div>
                    <span class="">数值越大，级别越高</span>
                </td>
            </tr>
            <tr>
                <td width="180" class="text-r"><span class="col-f00">*</span>备注：</td>
                <td class="text-l">
                    <textarea name="remarks" id="" cols="50" rows="5"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-layout item">
        <button class="btn-first" ng-click="save()">保存</button>
        <button ng-click="cancel()">取消</button>
    </div>
</div>