<div class="panel panel-default" ng-controller="OrderDetailsController">
    <div class="layoutCommon">
        <p class="detailsTitle">订单信息</p>
        <ul class="clear">
            <li class="fl liItem">
                <span class="left">订单编号：</span>
                <span>{{orderInfor.orderNumber}}</span>
            </li>
            <li class="fl liItem">
                <span class="left">下单时间：</span>
                <span>{{orderInfor.orderTime}}</span>

            </li>
            <li class="fl liItem">
                <span class="left">分类：</span>
                <span>{{orderInfor.classify}}</span>

            </li>
            <li class="fl liItem">
                <span class="left">金额：</span>
                <span>{{orderInfor.cost}}</span>

            </li>
            <li class="fl liItem">
                <span class="left">状态：</span>
                <span>{{orderInfor.payStatus}}</span>
                <button ng-show="commitState" ng-click="goPage(orderInfor.orderNumber)">提交支付凭证</button>
            </li>
        </ul>
        <p class="paymentVoucherTitle" ng-if="isPaymentVoucher">支付凭证</p>
        <ul class="clear" ng-if="isPaymentVoucher">
            <li class="fl liItem">
                <span class="left">支付方式：</span>
                <span>{{paymentVoucherInfor.paymentWay}}</span>
            </li>
            <li class="fl liItem">
                <span class="left">支付账号：</span>
                <span>{{paymentVoucherInfor.paymentAccount}}</span>

            </li>
            <li class="fl liItem">
                <span class="left">支付金额：</span>
                <span>{{paymentVoucherInfor.paymentAmount}}</span>

            </li>
            <li class="fl liItem">
                <span class="left">支付时间：</span>
                <span>{{paymentVoucherInfor.paymentTime}}</span>

            </li>
            <li class="fl liItem">
                <span class="left">备注：</span>
                <span>{{paymentVoucherInfor.remarks}}</span>
            </li>
        </ul>
    </div>
    <div class="layoutCommon">
        <p class="detailsTitle">会员信息</p>
        <ul class="clear">
            <li class="fl liItem">
                <span class="left">会员ID：</span>
                <span>{{memberInfor.memberID}}</span>
            </li>
            <li class="fl liItem">
                <span class="left">手机号：</span>
                <span>{{memberInfor.cellphone}}</span>

            </li>
            <li class="fl liItem">
                <span class="left">名称：</span>
                <span>{{memberInfor.name}}</span>

            </li>
            <li class="fl liItem">
                <span class="left">邮箱：</span>
                <span>{{memberInfor.email}}</span>

            </li>
            <li class="fl liItem">
                <span class="left">二级域：</span>
                <span>{{memberInfor.twoLevelDomainName}}</span>
            </li>
        </ul>
    </div>
    <div class="layoutCommon">
        <p class="detailsTitle">商品信息</p>
        <ul class="clear">
            <li class="fl liItem">
                <span class="left">商品编号：</span>
                <span>{{commodityInfor.commodityNumber}}</span>
            </li>
            <li class="fl liItem">
                <span class="left">期限：</span>
                <span>{{commodityInfor.term}}</span>

            </li>
            <li class="fl liItem">
                <span class="left">商品名称：</span>
                <span>{{commodityInfor.commodity}}</span>

            </li>
            <li class="fl liItem">
                <span class="left">生效日期：</span>
                <span>{{commodityInfor.effectiveDate}}</span>

            </li>
            <li class="fl liItem">
                <span class="left">交付状态：</span>
                <span>{{commodityInfor.deliveryStatus}}</span>
            </li>
        </ul>
    </div>
    <div class="layoutCommon">
        <p class="detailsTitle">服务信息</p>
        <div style="padding: 0 60px">
            <table class="table table-bordered table-striped">
                <thead>
                <tr role="row">
                    <th width="65">序号</th>
                    <th>工单编号</th>
                    <th>工单类型</th>
                    <th>生成时间</th>
                    <th>商品标识</th>
                    <th>商品名称</th>
                    <th>版本</th>
                    <th>状态</th>
                    <th>完成时间</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="infor in serviceInfor track by $index">
                    <td class="sorting_1">{{$index}}</td>
                    <td>{{infor.workOrderNum}}</td>
                    <td>{{infor.workOrderClassify}}</td>
                    <td>{{infor.generationTime}}</td>
                    <td>{{infor.productID}}</td>
                    <td>{{infor.commodityName}}</td>
                    <td>{{infor.version}}</td>
                    <td>{{infor.state}}</td>
                    <td>{{infor.completionTime}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="layoutCommon">
        <p class="detailsTitle">附加信息</p>
        <dl class="clear dl-item">
            <dt class="fl">参加活动：</dt>
            <dd class="fl">（编号：147258） 1分钱活动，买10个月送2个月，本活动不退款；</dd>
        </dl>

        <dl class="clear dl-item" ng-repeat="remark in remarksInfor">
            <dt class="fl">备注{{$index+1}}：</dt>
            <dd class="fl">{{remark}}</dd>
        </dl>
    </div>
    <div class="btn-layout" ng-if="showAllBtn">
        <!--<button class="btn-first" ng-click="leftBtnMethod(leftBtn.state)" ng-show="rightBtn.btnShow">{{leftBtn.txt}}</button>-->
        <!--<button ng-click="rightBtnMethod(rightBtn.state)">{{rightBtn.txt}}</button>-->
        <prompt-box params="params" ext-data="leftBtn" ng-click="leftBtnMethod(leftBtn.state)" ng-show="rightBtn.btnShow"></prompt-box>
        <prompt-box params="params1" ext-data="rightBtn" ng-click="rightBtnMethod(rightBtn.state)"></prompt-box>
    </div>

    <script type="text/ng-template" id="myModalContent.html">
        <!--<div class="modal-header">-->
        <p class="dialog-p">请输入{{params.btn.txt}}商城的原因</p>
        <div class="modal-body">
            <textarea name="reson" id="" cols="73" rows="8" ng-model="extData.content"></textarea>
        </div>
    </script>
</div>