<div class="panel panel-default" ng-controller="RoleOperatingController">
    <div class="panel-body">
        <form role="form" class="form-inline">
            <div class="form-group">
                <label class="cbr-inline">角色名称：</label>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" size="25" ng-model="roleItem.roleName" ng-trim="true" ng-required="true" />
            </div>

            <div class="form-group">
                <button class="btn btn-secondary btn-single" ng-click="addRole()">添加</button>
            </div>
        </form>
    </div>

    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <!--<th class="no-sorting">-->
                        <!--<input type="checkbox" class="cbr">-->
                    <!--</th>-->
                    <th>角色</th>
                    <th>角色成员</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="middle-align">
                <tr ng-repeat="role in roleList track by $index">
                    <!--<td>-->
                        <!--<input type="checkbox" class="cbr">-->
                    <!--</td>-->
                    <td>{{role.roleName}}</td>
                    <td>
                        <span class="member" ng-repeat="member in role.roleMembers track by $index">
                            {{member.name}}（{{member.username}}）
                        </span>
                    </td>
                    <td>
                        <a href="javascript:;" class="btn btn-secondary btn-sm btn-icon icon-left">
                            权限设置
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>