<div class="panel panel-default" ng-controller="SystemAccountListController">
    <div class="panel-body">
        <form role="form" class="form-inline" novalidate name="roleForm">
            <div class="form-group">
                <label class="cbr-inline">姓名：</label>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" size="25" name="name" ng-model="filterData.name" />
            </div>
            <div class="form-group">
                <label class="cbr-inline">用户名：</label>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" size="25" name="username" ng-model="filterData.username" />
            </div>
            <div class="form-group">
                <label class="cbr-inline">状态：</label>
            </div>
            <div class="form-group">
                <select class="form-control" name="role" ng-model="pageData.curStatusItem" ng-options="roleStatus.txt for roleStatus in roleStatusList" ng-change="changeRoleStatus()"></select>
            </div>
            <div class="form-group">
                <button class="btn btn-secondary btn-single" ng-click="search()">搜索</button>
            </div>
        </form>
    </div>

    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th width="150">用户名</th>
                    <th width="150">姓名</th>
                    <th>角色</th>
                    <th>添加时间</th>
                    <th>状态</th>
                    <th width="300">操作</th>
                </tr>
            </thead>
            <tbody class="middle-align">
                <tr ng-repeat="account in accountList track by $index">
                    <td>
                        <span ng-if="!account.isEdit">{{account.username}}</span>
                        <input ng-if="account.isEdit" type="text" class="form-control" name="username" ng-model="account.username" />
                    </td>
                    <td>
                        <span ng-if="!account.isEdit">{{account.name}}</span>
                        <input ng-if="account.isEdit" type="text" class="form-control" name="username" ng-model="account.name" />
                    </td>
                    <td>
                        <span ng-if="!account.isEdit">{{account.roleTxt}}</span>
                        <select ng-if="account.isEdit" class="form-control" name="role" ng-options="role.roleName for role in roleList" ng-model="account.selectedRole"></select>
                    </td>
                    <td>{{account.createTime|date:'yyyy-MM-dd'}}</td>
                    <td ng-class="{'text-danger': account.status != 1}">{{account.statusTxt}}</td>
                    <td>
                        <a href="javascript:;" class="btn btn-secondary btn-sm btn-icon icon-left" ng-if="account.isEdit" ng-click="oper('save', account)">保存</a>
                        <a href="javascript:;" class="btn btn-secondary btn-sm btn-icon icon-left" ng-if="account.isEdit" ng-click="oper('cancel', account)">取消</a>
                        <a href="javascript:;" class="btn btn-secondary btn-sm btn-icon icon-left" ng-if="!account.isEdit" ng-click="oper('edit', account)">编辑</a>
                        <!--<a href="javascript:;" class="btn btn-secondary btn-sm btn-icon icon-left">修改密码</a>-->
                        <prompt-box params="params" ext-data="account"></prompt-box>
                        <a href="javascript:;" class="btn btn-secondary btn-sm btn-icon icon-left" ng-if="account.status==2" ng-click="oper('enable', account)">启用</a>
                        <a href="javascript:;" class="btn btn-secondary btn-sm btn-icon icon-left" ng-if="account.status==1" ng-click="oper('disable', account)">停用</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/ng-template" id="changePassword.html">
        <form name="accountForm" role="form" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="col-sm-3 control-label">用户名：</label>
                <div class="col-sm-5">
                    <div class="form-control" style="text-align: left; border: none; padding-left: 0;">{{extData.username}}</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">旧密码：</label>
                <div class="col-sm-5">
                    <input name="oldPassword"
                           type="{{params.popData.passwordVali.oldPassword.eleType}}"
                           class="form-control"
                           ng-model="extData.oldPassword"
                           ng-required="params.popData.passwordVali.oldPassword.validateItems.required"
                           ng-blur="inputBlurFn(params.popData.passwordVali.oldPassword, accountForm.oldPassword.$error)"
                           ng-focus="focusFn(params.popData.passwordVali.oldPassword)">
                </div>
                <div class="col-sm-3 text-danger" style="text-align: left;" ng-repeat="re in params.popData.passwordVali.oldPassword.promptList|filter:params.popData.passwordVali.oldPassword.promptAttr">{{re.tip}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">新密码：</label>
                <div class="col-sm-5">
                    <input name="newPassword"
                           type="{{params.popData.passwordVali.newPassword.eleType}}"
                           class="form-control"
                           ng-model="extData.newPassword"
                           ng-required="params.popData.passwordVali.newPassword.validateItems.required"
                           ng-blur="inputBlurFn(params.popData.passwordVali.newPassword, accountForm.newPassword.$error)"
                           ng-focus="focusFn(params.popData.passwordVali.newPassword)">
                </div>
                <div class="col-sm-3 text-danger" style="text-align: left;" ng-repeat="re in params.popData.passwordVali.newPassword.promptList|filter:params.popData.passwordVali.newPassword.promptAttr">{{re.tip}}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">确认新密码：</label>
                <div class="col-sm-5">
                    <input name="newPasswordAgain"
                           type="{{params.popData.passwordVali.newPasswordAgain.eleType}}"
                           class="form-control"
                           ng-model="extData.newPasswordAgain"
                           ng-required="params.popData.passwordVali.newPasswordAgain"
                           ng-blur="inputBlurFn(params.popData.passwordVali.newPasswordAgain, accountForm.newPasswordAgain.$error, params.popData.getPasswordIsSameFn(extData))"
                           ng-focus="focusFn(params.popData.passwordVali.newPasswordAgain)">
                </div>
                <div class="col-sm-3 text-danger" style="text-align: left;" ng-repeat="re in params.popData.passwordVali.newPasswordAgain.promptList|filter:params.popData.passwordVali.newPasswordAgain.promptAttr">{{re.tip}}</div>
            </div>
        </form>
    </script>
</div>