/**
 *
 * Apply your custom CSS here
 *
*/
ul,ol,dl,dt,dd,li{
    list-style: none;
}
.fl{
  float: left;
}
.clear:after{ clear: both; display: block; content: "";}
.col-f00{
    color: #f00;
}
.text-r{
    text-align: right;
}
.text-l{
    text-align: left;
}
.col-2c2e2f{
    color: #2c2e2f;
}
.nav.nav-tabs{
    border-bottom: 2px solid #4587db;
}
.nav.nav-tabs>li>a{
    border: 1px solid #999;
    background-color: #fff;
    border-bottom: none;
    color: #555;
}
.nav.nav-tabs>li>a:hover{
    border: 1px solid #999;
    border-bottom: none;
    background-color: #fff;
    color: #4587db;
}
.nav.nav-tabs>li>a.selected{
    border: 2px solid #4587db;
    border-bottom: none;
    padding: 8px 19px 10px;
    background-color: #fff;
    color: #4587db;
}

/*¶©µ¥ÏêÇé*/
.liItem{
    width: 45%;
    height: 35px;
    line-height: 35px;
}
.liItem>.left{
    display: inline-block;
    text-align: right;
    width: 100px;
    padding-right: 10px;
}
.liItem>button{
    display: inline-block;
    height: 23px;
    vertical-align: middle;
    line-height: 18px;
    margin-left: 50px;
}
.detailsTitle{
    font-weight: bold;
    color: #333;
    padding-left: 57px;
}
.paymentVoucherTitle{
    color:red;
    padding-left: 57px;
}
.layoutCommon{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 15px;
}
.dl-item{
    padding-left: 40px;
}
.dl-item>dt{
    width: 100px;
    text-align: right;
    font-weight: normal;
}
.btn-layout{
    text-align: center;

}
.btn-layout button{
    width: 100px;
    margin-left: 50px;
}
.btn-layout .btn-first{
    margin: 0;
}
.dialog-p{
    padding-top: 15px;
    margin-bottom: -10px;
    color: #333;
}

.btn-layout.item{
    width: 55%;
    padding-top: 50px;
}

.ger-order-layout{
    margin: 20px auto;
    width: 980px;
}
.ger-order-layout>dl>dd{
    height: 34px;
    line-height: 34px;
}
.ger-order-layout>dl>dt{
    height: 34px;
    line-height: 34px;
    width: 100px;
    text-align: right;
}
.radio-inline, .checkbox-inline{
    padding-right: 20px;
}